src/SFA.Apprenticeships.Infrastructure.EmployerDataService/Service References/EmployerDataService/BS7666.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.govtalk.gov.uk/people/bs7666" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.govtalk.gov.uk/people/bs7666" version="2.0" id="BS7666" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:appinfo>
      <Metadata xmlns="http://www.govtalk.gov.uk/metadata/egms">
        <Contributor Href="mailto:adam.bailin@cabinet-office.x.gsi.gov.uk">Adam Bailin, e-Government Unit, Cabinet Office</Contributor>
        <Contributor Href="mailto:paul.spencer@boynings.co.uk" />
        <Contributor>e-champions, Government Schema Group, IDeA</Contributor>
        <Contributor>Adrian Kent, Office e-Envoy</Contributor>
        <Contributor Href="mailto:bruce@egic.ltd.uk">Bruce Yeoman, EGIC</Contributor>
        <Creator Href="maito:govtalk@cabinet-office.x.gsi.gov.uk">e-Government Unit, Cabinet Office, UK Government</Creator>
        <Created>2003-02-11</Created>
        <Modified>2004-12-08</Modified>
        <Description>Schema for BS7666 definitions including address and postcode. BS7666 provides a geo-spatial reference and is particularly suitable for local gazeteer applications. For a postal address format, use the UKPostalAddressStructure defined in the Address Types schema.</Description>
        <Review>2005-12-08</Review>
        <Format Scheme="http://www.iana.org/assignments/media-types/">text/xml</Format>
        <Identifier Href="http://www.govtalk.gov.uk/gdsc/schemas/bs7666-v2-0.xsd">BS7666-v2-0</Identifier>
        <Language codeListID="ISO639-2">eng</Language>
        <Publisher Href="mailto:govtalk@cabinet-office.x.gsi.gov.uk">e-Government Unit, Cabinet Office, UK Government</Publisher>
        <ConformsTo>http://www.w3.org/2001/XMLSchema</ConformsTo>
        <IsPartOf>http://www.govtalk.gov.uk/gdsc/schemas/AddressTypes-v2-0.xsd</IsPartOf>
        <ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/people/bs7666">BSaddressStructure</ProvidesDefinitionOf>
        <ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/people/bs7666">BasicLandAndPropertyUnitStructure</ProvidesDefinitionOf>
        <ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/people/bs7666">PostCodeType</ProvidesDefinitionOf>
        <ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/people/bs7666">AONstructure</ProvidesDefinitionOf>
        <ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/people/bs7666">StreetDescriptiveIdentifierStructure</ProvidesDefinitionOf>
        <ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/people/bs7666">UPRNtype</ProvidesDefinitionOf>
        <ProvidesDefinitionOf Namespace="http://www.govtalk.gov.uk/people/bs7666">USRNtype</ProvidesDefinitionOf>
        <Copyright>Crown Copyright 2002, 2003, 2004</Copyright>
        <ProtectiveMarking>Unclassified</ProtectiveMarking>
        <Status>draft</Status>
        <StatusDescription>For approval by GSG</StatusDescription>
        <Version>2.0</Version>
        <Category codeListID="GCL">People, communities and living</Category>
        <Project>UK GovTalk Government Data Standards Catalogue</Project>
        <Title>BS7666 2.0</Title>
        <Type>architectural</Type>
      </Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType name="BSaddressStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SAON" type="AONstructure">
        <xsd:annotation>
          <xsd:documentation>Secondary Addressable Object</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PAON" type="AONstructure">
        <xsd:annotation>
          <xsd:documentation>Primary Addressable Object</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence>
        <xsd:element name="StreetDescription" type="StreetDescriptorType" />
        <xsd:element minOccurs="0" name="UniqueStreetReferenceNumber" type="USRNtype" />
      </xsd:sequence>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element ref="Locality" />
          <xsd:choice minOccurs="0">
            <xsd:sequence>
              <xsd:element ref="Town" />
              <xsd:element minOccurs="0" ref="AdministrativeArea" />
            </xsd:sequence>
            <xsd:element ref="AdministrativeArea" />
          </xsd:choice>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element ref="Town" />
          <xsd:element minOccurs="0" ref="AdministrativeArea" />
        </xsd:sequence>
        <xsd:element ref="AdministrativeArea" />
      </xsd:choice>
      <xsd:element minOccurs="0" name="PostTown" type="PostTownType" />
      <xsd:element minOccurs="0" name="PostCode" type="PostCodeType" />
      <xsd:element minOccurs="0" name="UniquePropertyReferenceNumber" type="UPRNtype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="UPRNtype">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1" />
      <xsd:maxInclusive value="999999999999" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="USRNtype">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1" />
      <xsd:maxInclusive value="99999999" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PostCodeType">
    <xsd:annotation>
      <xsd:documentation>complex pattern for postcode, which matches definition, accepted by some parsers is: "(GIR 0AA)|((([A-Z-[QVX]][0-9][0-9]?)|(([A-Z-[QVX]][A-Z-[IJZ]][0-9][0-9]?)|(([A-Z-[QVX]][0-9][A-HJKSTUW])|([A-Z-[QVX]][A-Z-[IJZ]][0-9][ABEHMNPRVWXY])))) [0-9][A-Z-[CIKMOV]]{2})"</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{1,2}[0-9R][0-9A-Z]? [0-9][A-Z-[CIKMOV]]{2}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PostTownType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="30" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalityType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AdministrativeAreaType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="30" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TownType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="30" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StreetDescriptorType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StreetReferenceTypeType">
    <xsd:restriction base="xsd:integer">
      <xsd:enumeration value="1" />
      <xsd:enumeration value="2" />
      <xsd:enumeration value="3" />
      <xsd:enumeration value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VersionNumberType">
    <xsd:restriction base="xsd:positiveInteger">
      <xsd:minInclusive value="1" />
      <xsd:maxInclusive value="9999" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ToleranceType">
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RefPointGridCoordinateType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{14}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="StreetStructure">
    <xsd:sequence>
      <xsd:element name="StreetReferenceType" type="StreetReferenceTypeType" />
      <xsd:element name="StartCoordinate" type="CoordinateStructure" />
      <xsd:element name="EndCoordinate" type="CoordinateStructure" />
      <xsd:element name="Tolerance" type="ToleranceType" />
      <xsd:element name="StreetVersionNumber" type="VersionNumberType" />
      <xsd:element name="StreetEntryDate" type="xsd:date" />
      <xsd:element minOccurs="0" name="StreetClosureDate" type="xsd:date" />
      <xsd:element name="ResponsibleAuthority" type="CustodianCodeType" />
      <xsd:element name="DescriptiveIdentifier" type="StreetDescriptiveIdentifierStructure" />
      <xsd:element minOccurs="0" name="StreetAlias" type="StreetDescriptiveIdentifierStructure" />
      <xsd:element minOccurs="0" name="StreetCrossReferences">
        <xsd:complexType>
          <xsd:choice>
            <xsd:element name="UniqueStreetReferenceNumbers" type="USRNlistType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ElementaryStreetUnit" type="ElementaryStreetUnitStructure" />
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="usrn" type="USRNtype" />
  </xsd:complexType>
  <xsd:complexType name="StreetDescriptiveIdentifierStructure">
    <xsd:sequence>
      <xsd:element name="StreetDescription" type="StreetDescriptorType" />
      <xsd:choice>
        <xsd:sequence>
          <xsd:element ref="Locality" />
          <xsd:choice minOccurs="0">
            <xsd:sequence>
              <xsd:element ref="Town" />
              <xsd:element minOccurs="0" ref="AdministrativeArea" />
            </xsd:sequence>
            <xsd:element ref="AdministrativeArea" />
          </xsd:choice>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element ref="Town" />
          <xsd:element minOccurs="0" ref="AdministrativeArea" />
        </xsd:sequence>
        <xsd:element ref="AdministrativeArea" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ElementaryStreetUnitStructure">
    <xsd:sequence>
      <xsd:element name="ESUidentity" type="RefPointGridCoordinateType" />
      <xsd:element name="ESUversion" type="VersionNumberType" />
      <xsd:element name="ESUentryDate" type="xsd:date" />
      <xsd:element minOccurs="0" name="ESUclosureDate" type="xsd:date" />
      <xsd:element name="StartCoordinate" type="CoordinateStructure" />
      <xsd:element name="EndCoordinate" type="CoordinateStructure" />
      <xsd:element name="Tolerance" type="ToleranceType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="IntermediateCoord" type="CoordinateStructure" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CoordinateStructure">
    <xsd:annotation>
      <xsd:documentation>Coordinate Point based on UK National Grid</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="X">
        <xsd:annotation>
          <xsd:documentation>Easting Field</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:unsignedLong">
            <xsd:minInclusive value="0" />
            <xsd:maxInclusive value="9999999" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Y">
        <xsd:annotation>
          <xsd:documentation>Northing Field</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:unsignedLong">
            <xsd:minInclusive value="0" />
            <xsd:maxInclusive value="9999999" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="UPRNlistType">
    <xsd:list itemType="UPRNtype" />
  </xsd:simpleType>
  <xsd:simpleType name="USRNlistType">
    <xsd:list itemType="USRNtype" />
  </xsd:simpleType>
  <xsd:complexType name="BLPUpolygonStructure">
    <xsd:sequence>
      <xsd:element name="PolygonID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="99" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="PolygonType">
        <xsd:annotation>
          <xsd:documentation>H to represent a hole or not present</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="H" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:choice>
        <xsd:element minOccurs="3" maxOccurs="unbounded" name="Vertices" type="CoordinateStructure" />
        <xsd:element name="ExternalRef" type="xsd:unsignedLong" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BLPUextentStructure">
    <xsd:sequence>
      <xsd:element name="SourceDescription">
        <xsd:annotation>
          <xsd:documentation>Description of Source of BLPU Extent</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="50" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ExtentEntryDate" type="xsd:date" />
      <xsd:element name="ExtentSourceDate" type="xsd:date" />
      <xsd:element name="ExtentStartDate" type="xsd:date" />
      <xsd:element minOccurs="0" name="ExtentEndDate" type="xsd:date" />
      <xsd:element name="ExtentLastUpdateDate" type="xsd:date" />
      <xsd:element maxOccurs="unbounded" name="ExtentDefinition" type="BLPUpolygonStructure" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ProvenanceCodeType">
    <xsd:annotation>
      <xsd:documentation>Provenance Code values
					T = Registered land title
					L = Unregistered land title
					F = Formal tenancy agreement
					R = Rental agreement
					P = Physical features
					O = Occupancy
					U = Use</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="T" />
      <xsd:enumeration value="L" />
      <xsd:enumeration value="F" />
      <xsd:enumeration value="R" />
      <xsd:enumeration value="P" />
      <xsd:enumeration value="O" />
      <xsd:enumeration value="U" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ProvenanceStructure">
    <xsd:sequence>
      <xsd:element name="ProvenanceCode" type="ProvenanceCodeType" />
      <xsd:element minOccurs="0" name="Annotation" type="xsd:string" />
      <xsd:element name="ProvEntryDate" type="xsd:date" />
      <xsd:element name="ProvStartDate" type="xsd:date" />
      <xsd:element minOccurs="0" name="ProvEndDate" type="xsd:date" />
      <xsd:element name="ProvLastUpdateDate" type="xsd:date" />
      <xsd:element minOccurs="0" name="BLPUextent" type="BLPUextentStructure" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="CustodianCodeType">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1" />
      <xsd:maxInclusive value="9999" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RepresentativePointCodeType">
    <xsd:annotation>
      <xsd:documentation>Representative Point Code values
					1 = Visual centre
					2 = General internal point
					3 = South-west corner of 100m grid square
					4 = Start point of the referenced street</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:positiveInteger">
      <xsd:enumeration value="1" />
      <xsd:enumeration value="2" />
      <xsd:enumeration value="3" />
      <xsd:enumeration value="4" />
      <xsd:enumeration value="5" />
      <xsd:enumeration value="9" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LogicalStatusType">
    <xsd:annotation>
      <xsd:documentation>Logical Status values
					1 = Approved preferred
					2 = Approved alternative (LPI Only)
					3 = Alternative (LPI Only)
					5 = Candidate
					6 = Provisional
					8 = Historical
					9 = Rejected</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1" />
      <xsd:maxInclusive value="9" />
      <xsd:enumeration value="1" />
      <xsd:enumeration value="2" />
      <xsd:enumeration value="3" />
      <xsd:enumeration value="5" />
      <xsd:enumeration value="6" />
      <xsd:enumeration value="8" />
      <xsd:enumeration value="9" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="BasicLandAndPropertyUnitStructure">
    <xsd:sequence>
      <xsd:element ref="UniquePropertyReferenceNumber" />
      <xsd:element name="CustodianCode" type="CustodianCodeType" />
      <xsd:element name="RepresentativePointCode" type="RepresentativePointCodeType" />
      <xsd:element name="LogicalStatus" type="LogicalStatusType" />
      <xsd:element name="GridReference" type="CoordinateStructure" />
      <xsd:element name="BLPUentryDate" type="xsd:date" />
      <xsd:element name="BLPUstartDate" type="xsd:date" />
      <xsd:element minOccurs="0" name="BLPUendDate" type="xsd:date" />
      <xsd:element name="BLPUlastUpdateDate" type="xsd:date" />
      <xsd:element maxOccurs="unbounded" name="LandAndPropertyIdentifier" type="LandAndPropertyIdentifierStructure" />
      <xsd:element maxOccurs="unbounded" name="Provenance" type="ProvenanceStructure" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LandAndPropertyIdentifierStructure">
    <xsd:sequence>
      <xsd:element name="PAON" type="AONstructure" />
      <xsd:element minOccurs="0" name="SAON" type="AONstructure" />
      <xsd:element minOccurs="0" name="PostTown" type="PostTownType" />
      <xsd:element minOccurs="0" name="PostCode" type="PostCodeType" />
      <xsd:element minOccurs="0" name="Level">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="LogicalStatus" type="LogicalStatusType" />
      <xsd:element minOccurs="0" name="OfficialAddressMarker" type="xsd:boolean" />
      <xsd:element name="LPIstartDate" type="xsd:date" />
      <xsd:element name="LPIentryDate" type="xsd:date" />
      <xsd:element minOccurs="0" name="LPIendDate" type="xsd:date" />
      <xsd:element name="LPIlastUpdateDate" type="xsd:date" />
      <xsd:choice>
        <xsd:element name="Street" type="StreetStructure" />
        <xsd:element name="USRN" type="USRNtype" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Town" type="TownType" />
  <xsd:element name="Locality" type="LocalityType" />
  <xsd:element name="AdministrativeArea" type="AdministrativeAreaType" />
  <xsd:element name="UniquePropertyReferenceNumber" type="UPRNtype" />
  <xsd:element name="BS7666Address" type="BSaddressStructure" />
  <xsd:element name="BS7666BLPU" type="BasicLandAndPropertyUnitStructure" />
  <xsd:simpleType name="AONdescriptionType">
    <xsd:annotation>
      <xsd:documentation>Restricted string type for the name text portion of the PAON and SAON</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="90" />
      <xsd:pattern value="[a-zA-Z0-9:;&lt;=&gt;\?@%&amp;'\(\)\*\+,\-\. ]{0,90}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AONrangeStructure">
    <xsd:annotation>
      <xsd:documentation>Numeric and optional alpha suffix for start and end numbers</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:positiveInteger">
            <xsd:maxInclusive value="9999" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Suffix">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="1" />
            <xsd:pattern value="[A-Z]" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AONstructure">
    <xsd:annotation>
      <xsd:documentation>Replacement for PAONtype and SAONtype</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="StartRange" type="AONrangeStructure" />
        <xsd:element minOccurs="0" name="EndRange" type="AONrangeStructure" />
        <xsd:element minOccurs="0" name="Description" type="AONdescriptionType" />
      </xsd:sequence>
      <xsd:element name="Description" type="AONdescriptionType" />
    </xsd:choice>
  </xsd:complexType>
</xsd:schema>